.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 4vh;
    color: white;
}

.overlay > .button {
    margin-top: 3vh;
}

.overlay > .subtitle {
    font-size: 2vh;
}
